.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 10px 0;
    border-top: 2px solid #AAB4BE;
}

.pag {
    background-color: #AAB4BE;
    padding: 3px 5px;
    border-radius: 3px;
}