.UserInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.UserInfo:hover {
    box-shadow: -2px 2px 15px #86d5e6;
}

.Image {
    width: 40px;
    height: 40px;
    background-image: url("../../assets/images/avatar.jpg");
    background-size: cover;
    border-radius: 50%;
}

.Name {
    font-size: 14px;
    margin: 5px;
    max-width: 60px;
}