.Badge {
    width: 180px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5e6e6;
    margin: 10px 5px;
    color: #050548;
    font-weight: bold;
    cursor: pointer;
    box-shadow: -3px 3px 10px #a9eded, 3px -3px 10px #a9eded;
    text-shadow: 1px 1px 2px #2525d1;
    opacity: 0.8;
    transition: 0.5s;
}

.Badge:hover, .Badge:active {
    background-color: #b1eaea;
    color: orange;
    font-weight: bold;
    box-shadow: -5px 5px 20px #a0ecec, 5px -5px 20px #a0ecec;
    opacity: 1;
}

.BadgeActive {
    width: 210px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86d5e6;
    margin: 10px 5px;
    font-weight: bold;
    cursor: pointer;
    color: orange;
    text-shadow: 1px 1px 2px #e8a62c;
    box-shadow: -3px 3px 20px #6dd3e8, 3px -3px 20px #6dd3e8;
    opacity: 1;
}
