.GenreMovieList {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
}

.title {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 2px 5px #9e9e9c;
}