.Movie {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #DCDCDB;
    margin: 5px 10px;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 3em;
    font-size: 20px;
}

.Movie img {
    width: 208px;
}