.Movie {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #AAB4BE;
    border-radius: 5px;
    margin: 5px 10px;
    cursor: pointer;
    box-shadow: -5px 5px 10px #9e9e9c, 5px 5px 10px #9e9e9c;
    opacity: 0.8;
    transition: 0.5s;
}

.Movie:hover {
    opacity: 1;
    box-shadow: -2px 2px 5px #9e9e9c, 2px 2px 5px #9e9e9c;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 3em;
    font-size: 20px;
}

.Movie img {
    width: 210px;
    height: 315px;
    border-radius: 5px;
}
